html {
    height: 100%;
}
body {
    height: 100%;
    margin: 60px auto;
    width: 70%;
    background-color: #DCE4EF;
    font-family: Arial;
    font-weight: 400;
}
.navbar {
    float: right;
}
.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    
    position: relative;
}
.navbar a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
.navbar a:hover {
    color: #000;
}
.navbar a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #112E51;
        
    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
}
.navbar a:hover::before {
    width: 100%;
}
address {
    float: right;
}
