body {
    margin: 0;
    height: 100%;
    width: 70%;
    background-color: #DCE4EF;
    font-family: Arial;
    font-weight: 400;
}
.content {
    background: #112E51;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

/*navbar style starts here*/
header {
    background-color: #256569;
    position: fixed;
    width: 100%;
}
header a {
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}

/*navbar style*/
nav {
    padding: 10px 0px;
    text-align: center;
    position: absolute; 
    right: 50px; 
}

/*unordered list style (about, projects, contact)*/
nav ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 0;
    width: 100%;
}
nav ul li {
    display: inline-block;
    font-size: 20px;
    margin left: 50px;
    padding-top: 23px;
    transition: .4s;
    
    position: relative;
}
nav ul li a {
    display: block;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav ul li a:hover {
    color: #000;
}
nav ul li a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #112E51;  
    
    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 250ms;
}
nav ul li a:hover::before {
    width: 100%;
}

address {
    position: absolute; 
    right: 50px; 
    bottom: 10px;
}

/* The subnavigation menu (corp. comm, in-house, etc)*/
nav ul li ul {
    display: none;
    width: 300px;
    list-style: none;
    position: absolute;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 0px 4px 4px;
}

nav ul li ul:before {
    content: "";
    width: 0;
    height: 0;
	
    position: relative; 
}

nav ul li ul li {
    display: block;
    padding: 10px; 
    background: #E4E2E0;
    font-size: 20px;
    width: 300px;
    border-radius: 4px;
}

/* Links inside the dropdown */
nav ul li ul li a {
    color: #444;
    transition: .5s;
}

/* Change color of dropdown links on hover */
nav ul li ul li a:hover {
    background-color: #f1f1f1;
}

nav ul li ul li a:hover::before {
    width: 100%;
}

/*show submenus*/
nav ul li:hover ul {
    display: block;
    position: absolute;
}
