<!DOCTYPE html>
<html>
	<head>
		<title>Jordan Stidham</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<header>
		<ul class="navbar">
	        	<li><a href="about.html">ABOUT</a></li>
        		<li><a href="projects.html">PROJECTS</a></li>
        		<li><a href="contact.html">CONTACT</a></li>
    		</ul>
		</header>
   		<div class="blurb">
        		<h1>Jordan R. Stidham</h1>
				<p>Please, browse my portfolio and enjoy. 
					<a href="/about">Click here to read more about me...</a></p>
    		</div><!-- /.blurb -->
<address>Created by Jordan Stidham, May 2019.</address>
		</body>
</html>
