<!DOCTYPE html>
<html>
	<head>
		<title>Jordan Stidham</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<header>
		<div class="container">
		<nav>
    		<ul>
        		<li><a href="/home.html">HOME</a></li>
	        	<li><a href="/about.html">ABOUT</a></li>
        		<li><a href="/corporatecommunications.html">CORPORATE COMMUNICATIONS</a></li>
        		<li><a href="/newsletter.html">NEWSLETTER</a></li>
			<li><a href="/in-housecommunuicationsandpromotionalcampaigns.html">IN-HOUSE COMMUNICATIONS & PROMOTIONAL CAMPAIGNS</a></li>
	        	<li><a href="/outreach.html">OUTREACH</a></li>
        		<li><a href="/projects.html">PROJECTS</a></li>
        		<li><a href="/contact.html">CONTACT</a></li>
    		</ul>
		</nav>	
		</div>
		</header>
   
    {{ content }}
    
   		<div class="blurb">
        		<h1>WELCOME.</h1>
				<p>Please, browse and enjoy. <a href="/about">Click here to read more about me...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
   		<ul>
        		<li><a href="mailto:stidhamjordan@gmail.com">email</a></li>
        		<li><a href="https://github.com/jordanstidham">website</a></li>
		</ul>
		</footer>
	</body>
</html>
