<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, inital-scale=>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Jordan R. Stidham</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
									  
			<div class="hero">
				<h1><span>Welcome to my</span>Portfolio</h1>
			</div>
					 
			<section class="welcome">
				<div class="welcome-left"></div>
				<div class="welcome-middle">
					<h2>Please, browse and enjoy.</h2>
				</div>
				<div class="welcome-right"></div>
			</section>
							  
			<section class="about-me">			 
				<img class="about-img" src="headshot.png" alt="A picture of Jordan Stidham" class="rounded-corners, center";>
				<h1 class="about-title">Jordan Stidham</h1>
				<h2 class="about-subtitle">Well Rounded</h2>
				<div class=about-text">
					<p>Hello</p>
			<style>
				img {
				  border-radius: 50%; }
			</style>
    		</section>
														 
		<address>Created by Jordan Stidham, May 2019.</address>
														 
	</body>
</html>
